
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  flex-direction: column;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
}

.margin {
  margin-top: 20px;
}


.input-border {
  border: 3px solid red;
}


.input-feedback {
  color: red;
  height: 5px;
  
}

/* antd css를 우선하네 */
.formm {
  margin-top: 20px;
}

Button {
  position: relative;
  left: 40px;
  top: 10px;
}