.menu {
    padding: 0 20px;
    border-bottom: solid 3px white;
    box-shadow: 0 0 30px pink;
    background-color: black;
    border-bottom: 2px solid blue;
    
}

.menu__logo {    
    float : left;
    width: 150px; 
}

.menu__logo a {
    display: block;    
    padding: 20px;
    font-size: 20px;    
    padding: 19px 20px;
}

.menu_left {
    float: left;
}

.menu_right {
    float: right;
}

/* .home , .subscription {
    
    padding: 10px
} */
/* 

@media (max-width: 767px) {
    .menu__mobile-button {
      display: inline-block !important;
    }
  
    .menu_left,
    .menu_rigth {
      display: none;
    }
  
    .menu__logo a {
      margin-left: -20px;
    }
  
    .menu__container .ant-menu-item,
    .menu__container .ant-menu-submenu-title {
      padding: 1px 20px;
    }
  
    .menu__logo a {
      padding: 10px 20px;
    }
  } */